@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define default light mode */
:root {
    --background-color: #ffffff;
    --card-background: #f0f0f0;
    --text-color: #000000;
    --profile-picture-border: #000000;
  }
  
  /* Dark Mode */
  [data-theme='dark'] {
    --background-color: #000000;
    --card-background: #1e1c1c;
    --text-color: #ffffff;
    --profile-picture-border: #ffffff;
  }
  

/* In your global CSS file (e.g., styles.css) */
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
  }
  